!!! 5
%html
  %head
    %title RubyDay - credits
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/speakers.css", :media => "all"}/
    %meta{:charset => "UTF-8"}
  %body
    .container
      .header
        .info
          Domande?
          %a{:href => "mailto:info@rubyday.it"} info@rubyday.it
        %ul.nav
          %li
            %a.button{:href => "/"} home
          %li
            %a.button{:href => "agenda.html"} agenda
          %li
            %a.button{:href => "partecipa.html"} partecipa
          %li
            %a.button{:href => "speakers.html"} speakers
          %li
            %a.button{:href => "sponsor.html"} sponsors
          %li
            %a.button.current{:href => "credits.html"} credits
      .logo
      .motto
        %h2 Le persone che hanno lavorato per la realizzazione di questo evento.
      .content
        .talks-details
          .track1
            .talk
              %h2
                %a{:href => "http://matteoccollina.com"} Matteo Collina
              %p Visionary, Software Engineer and Ph.D. student.
            .talk
              %h2
                %a{:href => "http://acarpe.wordpress.com/"} Antonio Carpentieri
              %p Lavora da 13 anni sviluppando software, dal 2005 si occupa di eXtreme Programming, TDD, il buon design ed il miglioramento del processo. Attualmente è un consulente, trainer e coach.
            .talk
              %h2
                %a{:href => "http://twitter.com/#!/srbr1"} Sergio Berisso 
              %p C64 Programmer, Analyst, Manager, Entrepreneur, Java, Scala, Python, Ruby lover ... techno crazy man :-)
            .talk
              %h2
                %a{:href => "http://avedesign.me"} Alessandro Vendruscolo
              %p Graphic designer / Apple geek / Computer Science student / chocolate lover / dreamer.
            .talk
              %h2
                %a{:href => "http://tempe.st"} Giovanni Intini
              %p MIKAMAI co-founder, Tech Enthusiast, Nerd at heart.
            .talk
              %h2
                %a{:href => "http://blog.codiceplastico.com/ema"} Emanuele Del Bono 
              %p Developer, Sailor and something more.
            .talk
              %h2
                %a{:href => "http://blog.raoulbonnal.net/"} Raoul J.P. Bonnal 
              %p Programmatore e Ricercatore BioTech. Adora utilizzare approcci innovativi, sperimentali e creativi. Love *nix.
          .track2
            .talk
              %h2
                %a{:href => "http://neonisi.com"} Fabio Cantoni
              %p Rubyist, entrepreneur and Co-Founder of Neonisi.
            .talk
              %h2
                %a{:href => "http://diegofranciosi.com"} Diego Franciosi
              %p Unconventional Developer at Mikamai srl.
            .talk
              %h2
                %a{:href => "http://giordano.scalzo.biz/"} Giordano Scalzo
              %p Frequento XpUg e Jug di Milano e lavoro in "Clean Code", con l'ambizione di renderla la prima Software Craftsmanship company italiana.
            .talk
              %h2
                %a{:href => "http://andreapavoni.com"} Andrea Pavoni
              %p Passionate programmer, (mostly) ruby & rails developer, freelance, teacher.
            .talk
              %h2
                %a{:href => "http://flavors.me/andreareginato"} Andrea Reginato 
              %p Web and Home Automation lover, now works in Milan at the Lelylan project. I've experience in Domotics, Ruby, Rails, Javascript, Actionscript and Arduino.
            .talk
              %h2
                %a{:href => "http://jitidea.net"} Claudio Maccari 
              %p Passionate .net & ruby developer, freelance, windsurfer.
            .talk
              %h2
                %a{:href => "http://thesp0nge.com/"} Paolo Perego 
              %p Secure software craftsman. Scrivo codice, lo rompo e ne faccio review di security.Amo il BDD, mio figlio, la Fender ed il Taekwondo.

    .footer
