!!! 5
%html
	%head
		%title RubyDay
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/home.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button.current{:href => "/"} home
					%li
						%a.button{:href => "agenda.html"} agenda
					%li
						%a.button{:href => "partecipa.html"} partecipa
					%li
						%a.button{:href => "speakers.html"} speakers
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.logo
			.motto
				%h1 Vogliamo diffondere la conoscenza sull'ecosistema di Ruby in Italia.
				%h2 Rubyday si terrà il 10 giugno 2011 al Centro Congresssi Milanofiori.
			.content
				.section
					%h1 Partecipa
					%p La partecipazione all'evento è vincolata alla registrazione tramite Eventbrite.
					%a{:href => "http://italianrubyday11.eventbrite.com/"} italianrubyday11.eventbrite.com/
				.section
					%h1 Agenda
					%p Hai conosciuto una nuova gemma e vuoi spiegarci perché non possiamo farne a meno? Vuoi fare un talk?
					%a{:href => "mailto:cfp@rubyday.it"} cfp@rubyday.it
				.section
					%h1 Sponsors
					%p L'evento è gratuito, organizzato da professionisti per professionisti. Sei interessato a sponsorizzare l'evento?
					%a{:href => "mailto:sponsor@rubyday.it"} sponsor@rubyday.it
			.motto
				%h1 Reso possibile grazie a...
			.content.sponsor
				.section.gold
					%h1 Sponsorizzazioni Gold
					%a{:href => "http://mikamai.com", :target => "_blank"}
						%img{:src => "images/mikamai-logo.png", :alt => "Mikamai"}/
					%a{:href => "http://www.xpeppers.com/", :target => "_blank"}
						%img{:src => "http://www.xpeppers.com/wp-content/themes/xpeppers/images/xpeppers_logo.jpg", :alt => "XPeppers"}/
				.section.silver
					%h1 Sponsorizzazioni Silver
					%a{:href => "http://unbit.it"}
						%img{:src => "http://unbit.it/ima/logo_unbit_header.jpg", :alt => "Unbit"}/
				.section.bronze
					%h1 Sponsorizzazioni Bronze
					%a{:href => "http://pragprog.com", :target => "_blank"}
						%img{:src => "http://media.pragprog.com/images/cms/logos/Bookshelf_4in.png", :alt => "Pragmatic Bookshelf"}/
					%a{:href => "http://www.jetbrains.com", :target => "_blank"}
						%img{:src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt => "JetBrains"}/
				.section.media
					%h1 Media sponsor
					%a{:href => "http://oreilly.com", :target => "_blank"}
						%img{:src => "http://oreilly.com/images/orn_logos/oralogo_bk200.gif", :alt => "O'Reilly"}/
		.footer