!!! 5
%html
	%head
		%title RubyDay - Partecipa
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/partecipa.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button.current{:href => "partecipa.html"} partecipa
					%li
						%a.button{:href => "talks.html"} talks
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.content
				#map.map
				.section
					%h1 Partecipa
					%p La partecipazione all'evento è vincolata alla registrazione tramite Eventbrite.
					%a{:href => "http://italianrubyday11.eventbrite.com/"} italianrubyday11.eventbrite.com/
				.section
					%h1 Dove
					%p Rubyday si terrà presso l'Università degli Studi Milano-Bicocca.
				.section
					%h1 Quando
					%p Rubyday si terrà venerdì 10 giugno 2011.
		.footer
		%script{:type => "text/javascript", :src => "js/initialize.js"}
		%script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true&callback=initialize"}