!!! 5
%html
	%head
		%title RubyDay - Partecipa
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/partecipa.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "agenda.html"} agenda
					%li
						%a.button.current{:href => "partecipa.html"} partecipa
					%li
						%a.button{:href => "speakers.html"} speakers
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.content
				#map.map
				.section
					%h1 Dove
					%p Rubyday si terrà presso il Centro Congressi Milanofiori.
					%p
						La conferenza sarà al secondo piano del Centro Congressi (sale Alfa Zeta, Alfa Omega).
						La reception sarà nel foyer Alfa B.
					%p
						Una volta entrati nel Centro Congressi (primo piano) ci saranno cartelli per esempio in zona ascensori
						con indicazioni su dove si svolge il meeting Ruby Day.
					%h1 Partecipa
					%p
						La partecipazione all'evento è vincolata alla registrazione tramite Eventbrite.
						%a{:href => "http://italianrubyday11.eventbrite.com/"} italianrubyday11.eventbrite.com/
					%h1 Come raggiungere il Centro Congressi: Auto
					%p
						Per chi viene da fuori Milano:da Nord (A8 - A9 Co-Va), da Ovest (A4 To) e da Sud (A1 Bo) prendere la tangenziale Ovest
						uscita Genova-Assago, seguire Assago, dopo 200mt uscita Assago Milanofiori. Il Centro Congressi è a destra;
						da Est (A4 Ve): prendere la tangenziale Est, percorrerla fino in fondo direzione Bologna.
						Seguire per Genova sulla tangenziale Ovest uscita Genova-Assago, seguire Assago, dopo 200mt uscita Assago Milanofiori.
						Il Centro Congressi è a destra;da Sud (A7 Ge): dopo il casello uscita Assago Milanofiori. Il Centro Congressi è a destra.
					%p C'è un grande parcheggio libero a disposizione nel centro commerciale Carrefour (aperto dalle 9 alle 22).
					%h1 Come raggiungere il Centro Congressi: Autobus
					%p
						Le linee ATM che conducono a Milanofiori sono la 320 e 328 e partono con direzione Assago dalla fermata Famagosta della metropolitana MM2 (linea verde).
						Il servizio e' attivo dalle 6.30 alle 23.30, con frequenza di 15/20 minuti circa. Per giungere al Centro Congressi l’autobus impiega circa 7 minuti.
				.section
					%h1 Come raggiungere il Centro Congressi: Metropolitana
					%p
						Prendere MM 2 (linea verde) fino alla fermata Milanofiori Forum (capolinea).
						Dopo esser scesi passare il ponte metallico sopra l'autostrada in direzione del centro commerciale Carrefour.
						Fuori dal ponte-tunnel dirigersi verso il primo palazzo accanto al parcheggio del Carrefour.
						Come indicato qui nella seconda
						%a{:href => "http://congressi.tecnichenuove.com/piantine.htm"} piantina
					%p
						Occorre fare il biglietto extra-urbano, dato che la fermata e' appena fuori il limite urbano.
						La tariffa è biglietto U (urbano) + 1 zona (2,10 euro)
					%h1 Come raggiungere il Centro Congressi: Treno
					%p
						Qualunque sia la stazione ferroviaria di arrivo - Milano Centrale, Lambrate, Porta Garibaldi o Cadorna Ferrovie Nord
						E' necessario prendere la MM2 (linea verde) e scendere alla fermata Milanofiori Forum (ultima fermata).
					%h1 Come raggiungere il Centro Congressi: Aereo
					%p da Linate:
					%p
						Autobus 73, fermata di Piazza S.Babila, metropolitana MM1 (linea rossa) fino a Cadorna dove si cambia e si prende
						la MM2 (linea verde) fino alla fermata Milanofiori Forum.
					%p da Malpensa:
					%p Autolinea Granturismo Shuttle con arrivo alla stazione di Milano Centrale, da dove si prosegue prendendo la metropolitana MM2 (linea verde) fino alla fermata Milanofiori Forum.
					%p
						Oppure Treno Malpensa Express (Ferrovie Nord) con arrivo alla stazione di Cadorna.
						Proseguire con la metropolitana MM 2 (linea verde) fino alla fermata Milanofiori Forum.
				.section
					%h1 Dove mangiare
					%p
						Per il pranzo vicino al Centro Congressi c'è ampia scelta per tutti i gusti e le tasche.
						Al piano terra ci sono alcuni bar per un tramezzino/snack veloce.
						Nel Carrefour al centro della galleria (piazza Europa) ci sono focaccerie, pizzerie, paninerie (Panino Giusto, Burger King),
						ristorante Ciao, wine bar, rosticceria, negozio Kebab e giapponese.
						Vedi mappa
						%a{:href => "http://www.centromilanofiori.it/index.php?id=21"} centromilanofiori
					%p Al ristorante Ciao con 10 euro circa si ha pasto completo (primo, secondo, acqua, ecc.)
					%p
						Vicino al Centro Congressi c'è il ristorante dell'albergo
						%a{:href => "http://www.nh-hotels.it/nh/it/hotels/italia/milano/nh-milanofiori.html"} NH Milanofiori
						con self service a 18 euro e menu servito a 34 euro.
					%h1 Dove dormire
					%p
						Gli alberghi piu' vicini al Centro Congressi sono
						%a{:href => "http://www.nh-hotels.it/nh/it/hotels/italia/milano/nh-milanofiori.html"} NH Milanofiori
						%a{:href => "http://www.monrifhotels.it/RoyalGardenHotel"} Hotel Royal Garden
						%a{:href => "http://www.alliancealberghi.com"} Holiday Inn Assago
					%p
						Non abbiamo stipulato convenzioni perchè Milano offre ampia scelta per il pernottamento e
						le tariffe di servizi di prenotazione online come
						= succeed "," do
							%a{:href => "http://www.booking.com"} Booking
						= succeed "," do
							%a{:href => "http://www.venere.com"} Venere
						%a{:href => "http://www.trivago.it"} Trivago
						sono spesso migliori.
		.footer
		%script{:type => "text/javascript", :src => "js/initialize.js"}
		%script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true&callback=initialize"}