!!! 5
%html
	%head
		%title RubyDay - agenda
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/speakers.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "agenda.html"} agenda
					%li
						%a.button{:href => "partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "sponsor.html"} sponsors
			.logo
			.motto
				%h2 I nostri fantastici speakers sono loro.
			.content
				.talks-details
					.track1
						.talk
							%h2
								%a{:href => "speakers/francesco-vollero.html"} Francesco Vollero
								(The Aeolus Project)
						.talk
							%h2
								%a{:href => "speakers/antonio-carpentieri.html"} Antonio Carpentieri
								(Varnish e caching di applicazioni Rails)
						.talk
							%h2 
								%a{:href => "speakers/marco-borromeo.html"} Marco Borromeo
								(Analisi statica per un linguaggio dinamico)
						.talk
							%h2
								%a{:href => "speakers/paolo-perrotta.html"} Paolo Perrotta
								(A Metaprogramming Spell Book)
						.talk
							%h2
								%a{:href => "speakers/matteo-collina.html"} Matteo Collina
								(Progettare e sviluppare mobile web applications utilizzando Mockup, Sencha Touch e Sinatra)
						.talk
							%h2
								%a{:href => "speakers/daniele-bottillo.html"} Daniele Bottillo
								(Progettare e sviluppare mobile web applications utilizzando Mockup, Sencha Touch e Sinatra)
						.talk
							/
								%h2
									%a{:href => "speakers/simone-carletti.html"} Simone Carletti
									(RSpec best practices)
						.talk
							%h2
								%a{:href => "speakers/alessandro-nadalin.html"} Alessandro Nadalin
								(REST in peace)
					.track2
						.talk
							%h2
								%a{:href => "speakers/giancarlo-pace.html"} Gian Carlo Pace
								(Ruby on Rails survival guide of an aged java developer)
						.talk
							%h2
								%a{:href => "speakers/simone-d-amico.html"} Simone D'Amico
								(MacRuby)
						.talk
							%h2
								%a{:href => "speakers/alessandro-cinelli.html"} Alessandro Cinelli
								(syMfony and RoR3: friends for an hour)
						.talk
							%h2
								%a{:href => "speakers/sandro-paganotti.html"} Sandro Paganotti
								(syMfony and RoR3: friends for an hour)
						.talk
							%h2
								%a{:href => "speakers/alberto-barilla.html"} Alberto Barillà
								(syMfony and RoR3: friends for an hour)
						.talk
							%h2
								%a{:href => "speakers/andrea-schiavini.html"} Andrea Schiavini
								(Webby: ASCII alchemy for quick website authoring)
						.talk
							%h2
								%a{:href => "speakers/luca-guidi.html"} Luca Guidi
								(Minegems: private gem hosting)
						.talk
							%h2
								%a{:href => "speakers/luca-mearelli.html"} Luca Mearelli
								(To batch or not to batch)
						.talk
							%h2
								%a{:href => "speakers/matteo-vaccari.html"} Matteo Vaccari
								(Solid design for Rails applications)
		.footer