!!! 5
%html
	%head
		%title RubyDay - Sponsor
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/sponsor.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "agenda.html"} agenda
					%li
						%a.button{:href => "partecipa.html"} partec  ipa
					%li
						%a.button{:href => "speakers.html"} speaker  s
					%li
						%a.button.current{:href => "sponsor.html"} sponsors
			.logo
			.motto
				%h1 Vogliamo diffondere la conoscenza sull'ecosistema di Ruby in Italia.
				%h2 Non perdere la possibilità di pubblicizzarti, sponsorizza Rubyday!
			.content
				.section.gold
					%h1 Gold
					%p
						La sponsorizzazione Gold è per contributi da 1.000€.
						%br/
						Le aziende sponsor ottengono in cambio:
					%ul
						%li Visibilità sul sito http://rubyday.it
						%li Ringraziamenti pubblici ad inizio e fine evento
						%li Possibilità di raccogliere i curriculum vitae dei partecipanti
						%li Possibilità di distribuire materiale pubblicitario durante l'evento
					%a{:href => "mailto:sponsor@rubyday.it?subject=Sponsorizzazione Gold"} sponsor@rubyday.it
					%a{:href => "http://mikamai.com", :target => "_blank"}
						%img{:src => "images/mikamai-logo.png", :alt => "Mikamai"}/
					%a{:href => "http://www.xpeppers.com/", :target => "_blank"}
						%img{:src => "http://www.xpeppers.com/wp-content/themes/xpeppers/images/xpeppers_logo.jpg", :alt => "XPeppers"}/
				.section.silver
					%h1 Silver
					%p
						La sponsorizzazione Silver è per contributi da 500€.
						%br/
						Le aziende sponsor ottengono in cambio:
					%ul
						%li Visibilità sul sito http://rubyday.it
						%li Ringraziamenti pubblici ad inizio e fine evento
						%li Possibilità di raccogliere i curriculum vitae dei partecipanti
					%a{:href => "mailto:sponsor@rubyday.it?subject=Sponsorizzazione Silver"} sponsor@rubyday.it
				.section.bronze
					%h1 Bronze
					%p
						La sponsorizzazione Bronze è per contributi da 200€.
						%br/
						Le aziende sponsor ottengono in cambio:
					%ul
						%li Visibilità sul sito http://rubyday.it
						%li Ringraziamenti pubblici ad inizio e fine evento
					%a{:href => "mailto:sponsor@rubyday.it?subject=Sponsorizzazione Bronze"} sponsor@rubyday.it
					%a{:href => "http://pragprog.com", :target => "_blank"}
						%img{:src => "http://media.pragprog.com/images/cms/logos/Bookshelf_4in.png", :alt => "Pragmatic Bookshelf"}/
					%a{:href => "http://www.jetbrains.com", :target => "_blank"}
						%img{:src => "http://www.jetbrains.com/img/logos/logo_jetbrains.gif", :alt => "JetBrains"}/
					%a{:href => "http://oreilly.com", :target => "_blank"}
						%img{:src => "http://oreilly.com/images/orn_logos/oralogo_bk200.gif", :alt => "O'Reilly"}/
		.footer