!!! 5
%html
	%head
		%title Alessandro Nadalin
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Alessandro Nadalin
				.talk-section
					%p
						Alessandro is a software agilist in DNSEE, an italian firm based in Rome. 
					%p
						His work mainly deals with the design of software architectures with RAD frameworks mixed with agile practices like test-first development, user-stories, pair-programming and so on. 
					%p
						A frequent speaker at local conferences and a shy contributor of some OS projects, he's currently busy, with his company, in the development of an OS Content Management Framework based on a NoSQL GraphDB. 
					%p
						In the spare time, a biker and drummer.
					%p
						In other spare time, REST evangelist.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/_odino_"}
							_odino_
					%h4
						Website
						%a{href: "http://www.odino.org"}
							www.odino.org