!!! 5
%html
	%head
		%title Andrea Schiavini
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Andrea Schiavini
				.talk-section
					%p
						Andrea Schiavini e' un appassionato di Ruby e Ruby on Rails dal 2008. Si e' laureato in informatica nel 2009, anno in cui ha iniziato la sua esperienza nel Team Orione presso Sourcesense prima e XPeppers poi. Si interessa di metodologie agili, behaviour driven development e Linux; nel tempo libero il suo hobby principale e' la fotografia.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/metalelf0"}
							metalelf0
					%h4
						Website
						%a{href: "http://metalelf0dev.blogspot.com"}
							http://metalelf0dev.blogspot.com