!!! 5
%html
	%head
		%title Franscesco Vollero
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Francesco Vollero
				.talk-section
					%p
						Software engineer per Red Hat in Repubblica Ceca, sfegatato sostenitore del software libero (dalla licenza MIT alla GPL Affero). Entra nel mondo della programmazione con il suo C64 da bambino e da li evolve fino a programmare in C. Nel mondo web è entrato con Apache-mod_perl, passando per perl cgi, c cgi, php, python (cgi e psp)  per fermarsi a Ruby, dove da Rails è arrivato fino a Sinatra dove ha trovato ciò che per lui è lo zen della programmazione web. E' stato fra gli amministratori e "roots" del LILiK laboratorio di informatica gestito da studenti all' università di Firenze fino al giorno della sua laurea, dove si è occupato di eventi per la diffusione della cultura opensource. E' stato avvistato a Febbraio al Fosdem con un talk su Sinatra.