!!! 5
%html
	%head
		%title Franscesco Vollero
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Francesco Vollero
				.talk-section
					%p		
						Software engineer presso Red Hat.