!!! 5
%html
	%head
		%title Luca Guidi
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Luca Guidi
				.talk-section
					%p
						Luca Guidi è un freelancer, da lungo tempo un contributor di Rails, appassionato di Open Source ed un web developer specializzato nell'adozione dei nuovi standard quali la geolocalizzazione, i nuovi database, e tecniche avanzate di JavaScript.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/jodosha"}
							jodosha
					%h4
						Website
						%a{href: "http://about.me/jodosha"}
							http://about.me/jodosha