!!! 5
%html
	%head
		%title Luca Mearelli
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Luca Mearelli
				.talk-section
					%p
						Sono un artigiano del software, e nonostante lavori in questo campo da parecchi anni mi ritengo ancora in cammino per migliorarmi nel lavoro che faccio e trovare gli strumenti ed i processi adatti ed utilizzarli per costruire 'cose' che siano davvero utili e piacevoli da usare.
					%p
						Ho lavorato su progetti di vario genere: sistemi di telecomunicazioni, applicazioni di gestione aziendale, servizi web. L'ho fatto sia da solo che come parte di team piccoli e grandi, oltre che a vari livelli nell'organizzazione, da programmatore a direttore tecnico.
					%p
						Negli ultimi anni ho utilizzato parecchio ruby e rails (con grande soddisfazione) ad esempio per realizzare il sito web miojob.repubblica.it e il servizio di fatturazione: kiaraservice.com.
					%p
						Quando posso cerco di partecipare attivamente a conferenze & barcamp.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/lmea"}
							lmea
					%h4
						Website
						%a{href: "http://spazidigitali.com"}
							http://spazidigitali.com