!!! 5
%html
	%head
		%title Matteo Collina
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Matteo Collina
				.talk-section
					%p
						Software engineer e Ph.D. candidate presso l'Università di Bologna, collaboro con lo spin-off universitario Mavigex in qualità di sviluppatore back-end e amministratore di sistema.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/matteocollina"}
							matteocollina