!!! 5
%html
	%head
		%title Paolo Perrotta
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Paolo Perrotta
				.talk-section
					%p		
						Paolo Perrotta is the author of 
						%strong
							Metaprogramming Ruby.
						He has more than ten years of experience as a developer and writer. He worked for domains ranging from embedded to enterprise software, computer games, and web applications.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/nusco"}
							nusco
					%h4
						Website
						%a{href: "http://ducktypo.blogspot.com/"}
							http://ducktypo.blogspot.com/