!!! 5
%html
	%head
		%title Simone D'Amico
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Simone D'Amico
				.talk-section
					%p
						Senior Application Developer, Architect and Project Manager in a wide variety of business applications.
					%p
						Particularly interested in web application involving complex data analysis and integration with legacy applications.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/sammyrulez"}
							sammyrulez
					%h4
						Website
						%a{href: "http://www.sammyrulez.com"}
							www.sammyrulez.com