!!! 5
%html
	%head
		%title Sandro Paganotti
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Sandro Paganotti
				.talk-section
					%p
						Sandro Paganotti (the ruby way) è un hacker ruby di vecchia data, Team Leader e Software Architect con una forte esperienza nello sviluppo web orientato all'enterprise. Lavora su web application dal 2000 usando PHP e Java e dal 2006 con Ruby e Rails. E' anche tecnical writer presso html.it di cui cura la sezione Ruby, Flex e Html5.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/sandropaganotti"}
							sandropaganotti
					%h4
						Website
						%a{href: "http://webdebs.org"}
							http://webdebs.org