!!! 5
%html
	%head
		%title Simone D'Amico
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Simone D'Amico
				.talk-section
					%p
						Simone D'Amico é studente di Ingegneria informatica al Politecnico di Milano.
					%p
						Ruby enthusiast ben prima che Rails diventasse popolare, trova la propria isola felice su piattaforma Mac.
					%p
						Co-Fondatore di THMdev, startup che si occupa di sviluppo di applicazioni mobile e consulenze informatiche.
					%p
						Prega a ogni WWDC affinché MacRuby diventi sufficientemente popolare da essere incluso come framework  standard su iOS.
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/damicosimone"}
							damicosimone
					%h4
						Website
						%a{href: "http://www.thmdev.com"}
							www.thmdev.com