!!! 5
%html
	%head
		%title Simone Carletti
		%link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/talk.css", :media => "all"}/
		%meta{:charset => "UTF-8"}
	%body
		.container
			.header
				.info
					Domande?
					%a{:href => "mailto:info@rubyday.it"} info@rubyday.it
				%ul.nav
					%li
						%a.button{:href => "/"} home
					%li
						%a.button{:href => "../agenda.html"} agenda
					%li
						%a.button{:href => "../partecipa.html"} partecipa
					%li
						%a.button.current{:href => "#"} speakers
					%li
						%a.button{:href => "../sponsor.html"} sponsors
			.content
				%h1 Simone Carletti
				.talk-section
					%p
						I'm an Italian software developer and technical writer, also known as weppos. I started my technical career in 2001, studying search engine algorithms and behaviors, and exploring what would later go on to become the field of Search Engine Optimization. I worked as a SEO specialists, programmer and technical manager before deciding to focus on my own startup.
					%p
					I'm very passionate about data management, programming languages and best practices. I'm Ruby-addicted.
						
					%h3
						Contatti
					%h4
						Twitter
						%a{href: "http://twitter.com/weppos"}
							weppos
					%h4
						Website
						%a{href: "http://www.simonecarletti.com/blog/"}
							http://www.simonecarletti.com/blog/