@import partials/base
@import partials/header
@import partials/footer

body .content
	> .map
		width: 850px
		height: 300px
		margin: 80px auto 20px auto
		border: 2px solid $red
		//background: url('../images/logo.png') no-repeat
		
		a
			background: none
			padding: 0